
<h2>{{model.name}}</h2>

unit: {{model.unit}}<br>
weight: {{model.weight}}<br>
energy: {{model.energy}}<br>
fat: {{model.fat}}<br>
carbs: {{model.carbs}}<br>
protein: {{model.protein}}<br>
price: {{model.price}}<br>
